<!-- header -->
<% include templete/header.ejs %>
<!-- header end -->

<!-- lead -->
    <% duLieuJson.sanpham.forEach(detailSp => { %>
      <% if (detailSp.id == idSp ) { %>
        <div class="ish-row ish-fullrow ish-lead">
            <span class="ish-lead__caption ish-icon-up"><%= detailSp.title%></span>
            <div class="ish-lead__image">
                <img src="./../.<%= detailSp.banner%>" alt="wawererly design">
            </div>
            <h1 class="ish-lead__headline">
				<span class="ish-lead__headline-inner"><%= detailSp.title%></span>
            </h1>
        </div>   
       
<!-- lead end -->

        <!-- content -->
        <div class="ish-row ish-content">

            <div class="ish-col-xs-12 ish-col-sm-4 ish-last-xs ish-first-sm ish-content__sidebar">

                <!-- side content -->
                <p>
                    <%= detailSp.description %>
                </p>

                <ul class="ish-sidebar-mdata post-meta">
                    <li class="ish-sidebar-mdata__item">
                        <strong class="ish-sidebar-mdata__title post-meta-key">Client</strong>
                        <%= detailSp.client %>
                    </li>
                    <li class="ish-sidebar-mdata__item">
                        <strong class="ish-sidebar-mdata__title post-meta-key">Work Done</strong>
                        <%= detailSp.done %>
                    </li>
                    <li class="ish-sidebar-mdata__item">
                        <strong class="ish-sidebar-mdata__title post-meta-key">Category</strong>
                        <a href="#"><%= detailSp.category %></a>
                    </li>
                    <li class="ish-sidebar-mdata__item">
                        <strong class="ish-sidebar-mdata__title post-meta-key">Link</strong>
                        <a href="<%= detailSp.link %>" target="_blank"><%= detailSp.link %></a>
                    </li>
                </ul>

                <hr>

                <div class="ish-sidebar-share">
                    <strong class="ish-sidebar-share__desc">Share</strong>
                    <ul class="ish-sidebar-share__list">
                        <li class="ish-sidebar-share__list-item">
                            <a href="#" class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-facebook ish--tc3"></a>
                        </li>
                        <li class="ish-sidebar-share__list-item">
                            <a href="#" class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-behance ish--tc3"></a>
                        </li>
                        <li class="ish-sidebar-share__list-item">
                            <a href="#" class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-dribbble ish--tc3"></a>
                        </li>
                        <li class="ish-sidebar-share__list-item">
                            <a href="#" class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-twitter ish--tc3"></a>
                        </li>
                    </ul>
                </div>

                <hr>

                <ul class="ish-prev-next">
                    <li class="ish-prev-next__item ish-prev-next--left">
                        <a class="ish-prev-next__link" href="portfolio-detail2.html">Previous</a>
                        <span class="ish-prev-next__icon ish-icon-left"></span>
                    </li>
                    <li class="ish-prev-next__item ish-prev-next--right">
                        <a class="ish-prev-next__link" href="portfolio-detail2.html">Next</a>
                        <span class="ish-prev-next__icon ish-icon-right"></span>
                    </li>
                </ul>
                <!-- side content end -->

            </div>

            <div class="ish-col-xs-12 ish-col-sm-7 ish-col-sm-offset-1 ish-content__main">

                <!-- main content -->
                <% detailSp.thumbnail.forEach(function (detailSpImg) { %>
                <a class="ish-image ish-lightbox" href="./../.<%= detailSpImg %>">
                    <img class="ish-image__image" src="./../.<%= detailSpImg %>" alt="logotype design">
                </a>
                 <% }) %>
                <!-- main content end -->

            </div>

        </div>
        <!-- content end -->
     <hr>
     <!-- content SpDx -->
		<div class="ish-row ish-content ish-portfolio ish-macy">

      <!-- main content -->
      <!-- Sản phẩm đã xem-->
	   <% if (dsSpDx) { %>
			<h3> SẢN PHẨM ĐÃ XEM</h3>

			<% dsSpDx.forEach(idDx => { %>
             <!-- Sử dụng vòng lặp tiếp để dựa vào id lấy ra dữ liệu-->
            <% duLieuJson.sanpham.forEach(motSp  => { %>
      <% if (motSp.id == idDx ) { %>
      <% if (motSp.id != idSp) { %>
			<a class="ish-portfolio-item ish--tc13 ish-portfolio-<%= motSp.category %>" href="portfolio-detail/<%= motSp.ceo %>.<%= motSp.id %>">
				<div class="ish-portfolio-item__image-container">
					<img class="ish-portfolio-item__image" src="../<%= motSp.banner %>" alt="business cards">
				</div>
				<div class="ish-portfolio-item__desc">
					<span class="ish-portfolio-item__title"><%= motSp.title %></span>
					<span class="ish-portfolio-item__subtitle"><%= motSp.category %></span>
				</div> 
			</a>
            <%} %>
            <%} %>
            <% }) %>
			<% }) %>
      <% } %>
	  <!-- main content end -->
		</div>
		
		<!-- content end -->
     <%} %>
    <% }) %>
       <!-- footer -->
		<% include templete/footer.ejs %>
<!-- footer end -->



    </div>



    <!-- sidenav -->
    <div class="ish-sidenav">
        <div class="ish-sidenav-inner">

            <div class="ish-sidenav-menu">
                <a href="" class="ish-sidenav-menu__icon">
                    <div id="nav-icon3">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>

            <div class="ish-sidenav-socials">
                <a class="ish-sidenav-socials__icon ish-icon-twitter" href="https://twitter.com/ishyoboydotcom" target="_blank"></a>
                <a class="ish-sidenav-socials__icon ish-icon-behance" href="https://www.behance.net/mattimling" target="_blank"></a>
                <a class="ish-sidenav-socials__icon ish-icon-dribbble" href="https://dribbble.com/MattImling" target="_blank"></a>
                <a class="ish-sidenav-socials__icon ish-icon-facebook" href="https://www.facebook.com/ishyoboydotcom" target="_blank"></a>
            </div>

            <div class="ish-sidenav-btt">
                <a class="ish-sidenav-btt__icon ish-icon-up" href="#top"></a>
            </div>

        </div>
    </div>
    <!-- sidenav end -->



    <!-- floated nav & search -->
    <div class="ish-navigation">

        <a class="ish-navigation__close-btn ish-icon-cancel" href="#close">
            <span class="ish-navigation__close-btn-desc">Close ( ESC )</span>
        </a>

        <ul class="ish-navigation__menu">
	        <li class="ish-navigation__item">
                <a class="ish-navigation__logo" href="./">we <span>|</span> rt</a>
	        </li>

            <li class="ish-navigation__item ish-navigation__item--active">
                <a href="index.html" class="ish-navigation__link">Home / Portfolio</a>
                <ul>
                    <li><a href="index.html">Classic Layout</a></li>
                    <li><a href="portfolio-zigzag.html">Zigzag Layout</a></li>
                    <li class="ish-navigation__subitem--active"><a href="portfolio-detail1.html">Portfolio Detail 1</a></li>
                    <li><a href="portfolio-detail2.html">Portfolio Detail 2</a></li>
                </ul>
            </li>

            <li class="ish-navigation__item">
                <a href="blog.html" class="ish-navigation__link">Blog</a>
                <ul>
                    <li><a href="blog.html">Blog Overview</a></li>
                    <li><a href="blog-detail.html">Blog Detail</a></li>
                    <li><a href="blog-archive.html">Category / Tag Archive</a></li>
                </ul>
            </li>

            <li class="ish-navigation__item">
                <a href="about.html" class="ish-navigation__link">We</a>
                <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="our-team.html">Our Team</a></li>
                    <li><a href="services.html">Services</a></li>
                </ul>
            </li>

            <li class="ish-navigation__item">
                <a href="shortcodes.html" class="ish-navigation__link">Pages</a>
                <ul>
                    <li><a href="shortcodes.html">Shortcodes</a></li>
                    <li><a href="search-results.html">Search Results</a></li>
                    <li><a href="error-404.html">404 Error</a></li>
                </ul>
            </li>

            <li class="ish-navigation__item"><a href="contact.html" class="ish-navigation__link">Contact</a></li>

            <li class="ish-navigation__item ish-navigation__item--search"><a href="#s" class="ish-navigation__link ish-icon-search"></a></li>

            <li class="ish-navigation__item ish-navigation__item--search-form">
                <form role="search" method="get" class="ish-navigation__search-form" action="search-results.html">
                    <button type="submit" class="ish-navigation__search-btn"><i class="ish-icon-search"></i></button>
                    <input type="text" value="" name="search" class="ish-navigation__search-field" placeholder="Type text and press enter">
                    <i class="ish-navigation__search-close ish-icon-cancel"></i>
                </form>
            </li>

            <li class="ish-navigation__resp-icon"><a class="ish-sc-el ish-sc-icon ish-icon-twitter ish--tc3" href="https://twitter.com/ishyoboydotcom" target="_blank"></a></li>
            <li class="ish-navigation__resp-icon"><a class="ish-sc-el ish-sc-icon ish-icon-dribbble ish--tc3" href="https://dribbble.com/MattImling" target="_blank"></a></li>
            <li class="ish-navigation__resp-icon"><a class="ish-sc-el ish-sc-icon ish-icon-behance ish--tc3" href="https://www.behance.net/mattimling" target="_blank"></a></li>
            <li class="ish-navigation__resp-icon"><a class="ish-sc-el ish-sc-icon ish-icon-facebook ish--tc3" href="https://www.facebook.com/ishyoboydotcom" target="_blank"></a></li>

        </ul>

    </div>
    <!-- floated nav & search end -->



    <!-- resp bottom navigation -->
    <div class="ish-resp-nav">
        <a class="ish-resp-nav__icon ish-resp-nav__icon--sidebar ish-icon-list-add" href=""></a>
        <a class="ish-resp-nav__icon ish-resp-nav__icon--nav ish-icon-article" href=""></a>
        <a class="ish-resp-nav__icon ish-resp-nav__icon--btt ish-icon-up" href=""></a>
    </div>
    <!-- resp bottom navigation end -->

</div>

<script src="/javascripts/plugins/plugins.js"></script>
<script src="/javascripts/main.js"></script>

</body>
</html>
